{% extends 'base.html' %} 
{% load i18n %} 
{% block title %}{% trans "Edit User" %}{% endblock %} 
{% block content %}
<h2>{% trans "Edit User" %}</h2>
<div class="edit-user-form">
  <form method="post">
    {% csrf_token %}
    <div class="form-grid">
      <div class="form-grid-item">
        {{ user_form.username.label_tag }}
        {{ user_form.username }}
      </div>
      <div class="form-grid-item">
        {{ user_form.first_name.label_tag }}
        {{ user_form.first_name }}
      </div>
      <div class="form-grid-item">
        {{ user_form.last_name.label_tag }}
        {{ user_form.last_name }}
      </div>
      <div class="form-grid-item">
        {{ user_form.email.label_tag }}
        {{ user_form.email }}
      </div>
      <div class="form-grid-item">
        {{ profile_form.user_type.label_tag }}
        {{ profile_form.user_type }}
      </div>
    </div>
    <div class="form-grid-item">
      <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
    </div>
  </form>
</div>
{% endblock %}
