{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "User List" %}{% endblock %}
{% block content %}
<h2 class="page-title">{% trans "User List" %}</h2>
<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Username" %}</th>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Last Name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "User Type" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.userprofile.user_type }}</td>
        <td>
          <a href="{% url 'edit_user' user.id %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
          <a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
